In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('electronics.csv')

In [3]:
data.head()

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
0,0,0,5.0,1999-06-13,Female,Portable Audio & Video,NaN,1999,NaN,0
1,0,1,5.0,1999-06-14,Female,Portable Audio & Video,NaN,1999,NaN,0
2,0,2,3.0,1999-06-17,Female,Portable Audio & Video,NaN,1999,NaN,0
3,0,3,1.0,1999-07-01,Female,Portable Audio & Video,NaN,1999,NaN,0
4,0,4,2.0,1999-07-06,Female,Portable Audio & Video,NaN,1999,NaN,0

In [4]:
data.tail()

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
1292949,9478,1157628,1.0,2018-09-26,Female,Headphones,Etre Jeune,2017,NaN,0
1292950,9435,1157629,5.0,2018-09-26,Female,Computers & Accessories,NaN,2017,NaN,0
1292951,9305,1157630,3.0,2018-09-26,Female,Computers & Accessories,NaN,2016,NaN,0
1292952,9303,1157631,5.0,2018-09-29,Male,Headphones,NaN,2018,NaN,0
1292953,9478,1157632,1.0,2018-10-01,Female,Headphones,Etre Jeune,2017,Female,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1292954 entries, 0 to 1292953
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   item_id     1292954 non-null  int64
 1   user_id     1292954 non-null  int64
 2   rating      1292954 non-null  float64
 3   timestamp   1292954 non-null  object
 4   model_attr  1292954 non-null  object
 5   category    1292954 non-null  object
 6   brand       331120 non-null   object
 7   year        1292954 non-null  int64
 8   user_attr   174124 non-null   object
 9   split       1292954 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 98.6+ MB

In [6]:
data.shape

(1292954, 10)

In [7]:
# We can see that the dataset contains 5 columns and 10000 rows.    

# The columns are as follows:

# 1. User ID

# 2. Product ID

# 3. Rating

# 4. Timestamp

# 5. Category

# The data types of the columns are as follows:

# 1. User ID - int64

# 2. Product ID - object

# 3. Rating - int64

# 4. Timestamp - int64

# 5. Category - object

# We can see that the columns User ID and Rating are of int64 data type, while the columns Product ID and Category are of object data type.

# We can also see that there are no null values in the dataset.

# We can also see that the column Timestamp is of int64 data type, but it is actually a timestamp.

# We can convert it to a timestamp using the following code:

from datetime import datetime

pd.to_datetime(data['timestamp'])

0         1999-06-13
1         1999-06-14
2         1999-06-17
3         1999-07-01
4         1999-07-06
             ...
1292949   2018-09-26
1292950   2018-09-26
1292951   2018-09-26
1292952   2018-09-29
1292953   2018-10-01
Name: timestamp, Length: 1292954, dtype: datetime64[ns]

In [9]:
data['brand'] = data['brand'].astype(str)

In [10]:
data['category'] = data['category'].astype(str)

In [11]:
data['timestamp'] = pd.to_datetime(data['timestamp'])

In [12]:
data['rating'] = data['rating'].astype(float)

In [13]:
data['user_id'] = data['user_id'].astype(str)

In [14]:
data['item_id'] = data['item_id'].astype(str)

In [15]:
data.describe()

             rating                      timestamp          year         split
count  1.292954e+06                        1292954  1.292954e+06  1.292954e+06
mean   4.051482e+00  2015-06-18 11:30:34.851355904  2.012938e+03  1.747587e-01
min    1.000000e+00            1999-06-13 00:00:00  1.999000e+03  0.000000e+00
25%    4.000000e+00            2014-09-06 00:00:00  2.012000e+03  0.000000e+00
50%    5.000000e+00            2015-10-19 00:00:00  2.014000e+03  0.000000e+00
75%    5.000000e+00            2016-10-19 00:00:00  2.015000e+03  0.000000e+00
max    5.000000e+00            2018-10-01 00:00:00  2.018000e+03  2.000000e+00
std    1.379732e+00                            NaN  2.643513e+00  5.506810e-01

In [16]:
data.nunique()

item_id          9560
user_id       1157633
rating              5
timestamp        6354
model_attr          3
category           10
brand              51
year               20
user_attr           2
split               3
dtype: int64

In [18]:
data.duplicated().sum()

np.int64(0)

In [19]:
data.isnull().sum()

item_id             0
user_id             0
rating              0
timestamp           0
model_attr          0
category            0
brand               0
year                0
user_attr     1118830
split               0
dtype: int64

In [20]:
data.dropna(inplace=True)

In [21]:
data.isnull().sum()

item_id       0
user_id       0
rating        0
timestamp     0
model_attr    0
category      0
brand         0
year          0
user_attr     0
split         0
dtype: int64

In [22]:
data.rating.value_counts()

rating
5.0    107593
4.0     30104
3.0     14593
1.0     12652
2.0      9182
Name: count, dtype: int64

In [25]:
# what was the best year of sales

data['year'] = pd.DatetimeIndex(data['timestamp']).year

data['year'].value_counts().sort_index

<bound method Series.sort_index of year
2015    46891
2016    43907
2014    25475
2017    24753
2013    12355
2018     8874
2012     4357
2011     2679
2010     1717
2009     1220
2008      834
2007      525
2006      196
2005      149
2004       87
2003       55
2002       26
2001       18
2000        5
1999        1
Name: count, dtype: int64>

In [27]:
# what was the best month of sales

data['month'] = pd.DatetimeIndex(data['timestamp']).month

data['month'].value_counts().sort_index()

month
1     18762
2     15033
3     14853
4     13359
5     13258
6     12970
7     14439
8     14789
9     13155
10    12960
11    13412
12    17134
Name: count, dtype: int64

In [28]:
# drop all null values

data.dropna(inplace=True)

# check for missing values

data.isnull().sum()

item_id       0
user_id       0
rating        0
timestamp     0
model_attr    0
category      0
brand         0
year          0
user_attr     0
split         0
month         0
dtype: int64